
body{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    font-family: "Outfit", sans-serif;
    
   }
   img{
    width: 187px;
    margin-left: 69px;
    margin-top: 53px;
   }
   #container{
      width: 100%;
       margin-left: 70px;
   }
   h1,h2,h3,p{
    color: white;
}
h1{
    margin-bottom: 10px;
}

h1{
    font-size: 80px;
}
#instructions{
    font-size: 30px;
    color: #d20094;
}
p{
    font-weight: 100;
    
}
li{
    font-weight: 100;
    color: white;
    padding: 10px;
    
}
ul{
    margin-top: 50px;
    margin-left: -25px;
    margin-bottom: 80px;
}

.check{
    display: inline-block;
}
input[type=checkbox]+label:before{
 content:"/2714";
 border:2px solid white;
}

#procced{
    margin-left: 400px;
    height: 60px;
    width: 230px;
    background-color: aqua;
    border: 1px aqua solid;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}
@keyframes glowing {
    0% {
      background-color: aqua;
      box-shadow: 0 0 5px aqua;
    }
    50% {
      background-color: aqua;
      box-shadow: 0 0 20px aqua;
    }
    100% {
      background-color: aqua;
      box-shadow: 0 0 5px aqua;
    }
  }
#procced{
    animation: glowing 1300ms infinite;
}