html,body{
    margin: 0;
    height: 100%;
   
}

#container{
    background-image: url(assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#logo img{
    width:200px;
    margin-left: 110px;
    margin-top: 70px;
}
 
#timer{
    color: white;
    font-size: larger;
    width: 200px;
    margin-left:90%;
    margin-top: -30px;
}