html,body{
    margin: 0;
    height: 100%;
    font-family: Outfit,sans-serif;
    font-size: 1.15rem;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.4;
   
}

#container{
    background-image: url(assets/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#logo img{
    width:200px;
    margin-left: 110px;
    margin-top: 70px;
}
 
#timer{
    position: relative;
    color: white;
    font-size: larger;
    width: 200px;
    margin-left: 1709px;
    margin-top: -119px
}

#countdown {
    color: white;
    display: inline-block;
    line-height: 40px;
    margin-left: 700px;
  }

  svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
  }
  
  svg circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    animation: countdown 60s linear infinite forwards;
  }
footer{
    text-align: center;
    margin-top: 150px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
 
}
.question-div{
    color: white;
    
}

.question-h1{
    color: white;
    text-align: center;
    margin-top: 170px;
    margin-left: 530px;
    margin-right: 190px;
    margin-bottom: 70px;
    width: 50%;

}
.option-btn{
    width: 600px;
   margin-left: 50px;
   margin-right: 20px;
    padding: 10px;
    border-radius: 50px;
    align-items: center;
    height: 90px;
    margin-bottom: 30px;
    background-color: transparent;
    color: white;
    font-size: 28px;
    cursor: pointer;
}
.button-container{
    text-align: center;
    margin-left: 50px;
}

.button-clicked{
    background-color:  #900080;
}
#next-button{
    border-radius: 20px;
    align-items: center;
    width: 200px;
    margin-left: 1500px;
    margin-top: 40px;
    height: 90px;
    background-color:  #900080 ;
    color: white;
    font-size: 28px;
    cursor: pointer;
    position: fixed;
}
#q-color{
    color: #900080 ;
}
#circle{
    border-radius: 50%;
    width: 88px;
    height: 88px;
    padding: 10px;
    background: #fff;
    border: 20px solid #0ed1cf;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
    background-color: transparent;
    margin-left: 1648px;
    margin-top: -56px;
}