body {
    background-image: url(./bg.jpg);
    background-size: cover;
    
}

header img {
    width: 200px;
    margin-left: 110px;
    margin-top: 40px;
}

.main-content {
    text-align: center;
    margin-top: 80px;
    color: rgb(231, 229, 227);
}

h1 {
    font-size: 46px;
}


p {
    font-size: 22px;
    text-align: center;
/*  width: 80%; */
}
/* x 2 */


.star-rating {}


/* input field margin-top{} */

hr {
    width: 80%;
}

footer {
    text-align: center;
    margin-top: 50px;
}


.base-timer {
    position: relative;
    width: 120px;
    height: 120px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
  }
  
  .base-timer__label {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }