body {
    background-image: url(./bg.jpg);
    background-size: cover;
    color: #fff;
    font-family: Outfit,sans-serif;
    font-size: 1.15rem;
    font-weight: 300;
    letter-spacing: .05em;
    line-height: 1.4;
}

header img {
    width: 200px;
    margin-left: 110px;
    margin-top: 40px;
}

.main-content {
    text-align: center;
    margin-top: 80px;
    margin-inline: 160px;
    color: rgb(231, 229, 227);
}

h1 {
    font-size: 46px;
    margin-bottom: 1px;
}

p {
    font-size: 22px;
    text-align: center;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 40px;
/*  width: 80%; */
}

hr {
    width: 65%;
    border-color: purple;
    
}

input {
    width: 55%;
    background-color: transparent;
    color:rgb(139, 134, 134);
    border: none;
    margin-left: 240px;
    margin-right: 240px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.more-info {
   /* animation: glowing 1300ms infinite; */

    background-color: #00FFFF;
    border: none;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    font-weight: 800;
    font-size:1.2rem;
    box-shadow:
    0 0 6px 3px #fff,  /* inner white */
    0 0 10px 6px #f0f, /* middle magenta */
    0 0 14px 9px #0ff;

    /*
    0 0 60px 30px #fff,  inner white
    0 0 100px 60px #f0f,  middle magenta
    0 0 140px 90px #0ff;
    */

    /* 120px 80px 40px 20px #0ff; */   
}


#stars-container {
    cursor: pointer;
}

.star {
    height: 60px;
    width: 60px;
    display: inline-block;
    /*    border: 1px solid white; */
}

.star-unselected {
    fill: #d4d4d4;
}

.star:hover {
    transform: scale(1.5);
}

#hide-original-star {
    display: none;
}

/*
#feedback {
    margin-left: 10px;
    margin-right: 10px;
}
*/

input {
    margin-left: 100px;
}

/* check all of the below as they may be redundant */

.uncheck {
    color: #36454F;
}

.check {
    color: #00FFFF;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #d4d4d4;
    font-size: 20px;
    background: #fff;
  }
   
  table th, 
  table tr:nth-child(2n+2) {
    background: #e7e7e7;
  }
    
  table th, 
  table td {
    padding: 20px 50px;
  }
    
  table th {
    border-bottom: 1px solid #d4d4d4;
  }
