body {
    background-image: url(./bg.jpg);
    background-size: cover;
    
}

header img {
    width: 200px;
    margin-left: 110px;
    margin-top: 40px;
}

.main-content {
    text-align: center;
    margin-top: 80px;
    color: rgb(231, 229, 227);
}

h1 {
    font-size: 46px;
}


p {
    font-size: 22px;
    text-align: center;
/*  width: 80%; */
}
/* x 2 */


.star-rating {}


/* input field margin-top{} */

hr {
    width: 80%;
}

footer {
    text-align: center;
    margin-top: 50px;
}


